In [1]:
!pip install browserhistory

Requirement already satisfied: browserhistory in /opt/anaconda3/lib/python3.12/site-packages (0.1.2)

In [3]:
import browserhistory as bh

In [5]:
dict_obj = bh.get_browserhistory()
chrome_history = dict_obj.get("chrome", [])

* SAFARI Database Permission Denied.

In [6]:
import csv

# Define CSV file name
csv_filename = "chrome_browser_history.csv"

# Write Chrome history to a CSV file
with open(csv_filename, mode="w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerow(["URL", "Title", "Timestamp"])  # Header row

    # Write each history entry for Chrome
    for entry in chrome_history:
        writer.writerow(entry)

print(f"Chrome browser history saved to {csv_filename}")

Chrome browser history saved to chrome_browser_history.csv

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('chrome_browser_history.csv') #, header=None, names=['Site','Title', 'Time'])

In [9]:
df.head()

,URL,Title,Timestamp
0,https://chatgpt.com/c/67aa13e0-bd44-8011-a9b2-...,ModuleNotFoundError Fix,2025-02-10 09:57:37
1,https://chatgpt.com/,ChatGPT,2025-02-10 09:57:13
2,https://open.spotify.com/collection/tracks,Spotify – Liked Songs,2025-02-10 09:53:18
3,https://stackoverflow.com/questions/64852841/v...,python - VS Code Jupyter Notebook not importin...,2025-02-10 09:40:02
4,https://www.google.com/search?q=how+get+import...,how get import lib read in vscode mac jupyter ...,2025-02-10 09:39:52

In [10]:
df.tail()

,URL,Title,Timestamp
3840,https://www.sql-practice.com/,Learn SQL - Online SQL Terminal - Practice SQL...,1600-12-31 19:00:00
3841,https://www.datascienceglossary.org/,data science glossary,1600-12-31 19:00:00
3842,https://www.geeksforgeeks.org/rainfall-predict...,Rainfall Prediction using Machine Learning - P...,1600-12-31 19:00:00
3843,https://www.citationmachine.net/,"Citation Machine®: Format & Generate - APA, ML...",1600-12-31 19:00:00
3844,https://www.arcgis.com/apps/mapviewer/index.html,Untitled map,1600-12-31 19:00:00

In [11]:
df.isna().sum()

URL            0
Title        118
Timestamp      0
dtype: int64

In [12]:
from urllib.parse import urlparse

print(urlparse('http://www.example.test/foo/bar').netloc) # --> www.example.test
print(urlparse('http://www.test.com.eu/ters').netloc) # --> www.example.test

www.example.test
www.test.com.eu

In [13]:
def get_domain(url):
    domain = urlparse(url).netloc
    
    if domain == '':
        return None

    return domain

In [14]:
df['domain'] = [ get_domain(s)  for s in df['URL'] ]

In [15]:
df.drop('URL', axis=1, inplace=True) # drop Site column & update the current df object
df.drop('Title', axis=1, inplace=True) # drop Site column & update the current df object

In [16]:
df.isna().sum()

Timestamp     0
domain       11
dtype: int64

In [17]:
df.dropna(inplace=True)

In [18]:
df.head()

             Timestamp             domain
0  2025-02-10 09:57:37        chatgpt.com
1  2025-02-10 09:57:13        chatgpt.com
2  2025-02-10 09:53:18   open.spotify.com
3  2025-02-10 09:40:02  stackoverflow.com
4  2025-02-10 09:39:52     www.google.com

In [19]:
# clean data if you need to!!!!! 
def check(x):
    # if True it will include
    return True

df_clean = df[[ check(x) for x in df.domain]]
df_clean

                Timestamp                       domain
0     2025-02-10 09:57:37                  chatgpt.com
1     2025-02-10 09:57:13                  chatgpt.com
2     2025-02-10 09:53:18             open.spotify.com
3     2025-02-10 09:40:02            stackoverflow.com
4     2025-02-10 09:39:52               www.google.com
...                   ...                          ...
3840  1600-12-31 19:00:00         www.sql-practice.com
3841  1600-12-31 19:00:00  www.datascienceglossary.org
3842  1600-12-31 19:00:00        www.geeksforgeeks.org
3843  1600-12-31 19:00:00      www.citationmachine.net
3844  1600-12-31 19:00:00               www.arcgis.com

[3834 rows x 2 columns]

In [20]:
# write to csv with a different name

df_clean.to_csv('history_cleaned.csv', index=False)